*{
  margin: 0;
  padding: 0;
}

body
{
  background-color: rgba(6, 3, 25, 255);
}

.banner {
  margin: 0;
  padding: 0;
}

.banner img {
  width: 100%;
}

.slider {
  max-width: 900px;
  margin: auto;
  padding: 10px;
}

.slider img {
  width: 100%;
}

.text
{
  background-color: rgba(6, 3, 25, 255);
  width: 39%;
  height: 40px;
  color: yellow;
  text-align: center;
  font-size: 30px;
  font-family: 'Arial';
  display: inline-block;
}

.previ {
  width: 30%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.nexti {
  width: 30%;
  height: 40px;
  border: none;
  float: right;
  background-color: black;
  color: white;
  cursor: pointer;
}


.card1 {
  margin-left: 35px;
  width: 30%;
  font-family: 'Arial';
  background-color: rgb(41, 39, 39);
  position: relative;
  /* margin: auto; */
  display: inline-block;
  /* float: left; */
}

.card1 img {
  width: 100%;
}

.card2 {
  margin-left: 10px;

  width: 30%;
  font-family: 'Arial';
  background-color: rgb(41, 39, 39);
  position: relative;
  /* margin: auto; */
  display: inline-block;
  /* float: left; */

}

.card2 img {
  width: 100%;

}

.card3 {
  margin-left: 10px;

  width: 30%;
  font-family: 'Arial';
  background-color: rgb(41, 39, 39);
  /* margin: auto; */
  display: inline-block;

}

.card3 img {
  width: 100%;

}


.section a{
  color: white;
  font-size: 40px;
  text-decoration: none;
}



@media screen and (max-width: 800px){


  .card1 {
    width: 345px;
    font-family: 'Arial';
    background-color: rgb(41, 39, 39);
    /* margin: auto; */
    /* align-items: center; */
    margin-left: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .card2 {
    width: 345px;
    font-family: 'Arial';
    background-color: rgb(41, 39, 39);
    /* margin: auto; */
    margin-left: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card3{
    width: 345px;
    font-family: 'Arial';
    background-color: rgb(41, 39, 39);
    /* margin: auto; */
    margin-left: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
}