
body
{
  background-color: rgba(6, 3, 25, 255);
  padding: 5px;
}

header
{
  /* position: absolute; */
  background-color: black;
  padding: 15px;
}



#banner
{
  width: 100%;
  margin-bottom: 25px;
}

.topnav
{
  overflow: hidden;
  background-color: black;
  position: relative;
  /* padding: 20px; */
}

.topnav #regs
{
  float: right;
  position: relative;
  width: 165px;
  /* padding: 10px; */
  border: solid yellow 1px;
}
.topnav #pages
{
  display: none;
  /* padding: 10px; */
}

.topnav a
{
  float: left;
  text-decoration: none;
  color: white;
  font-size: 30px;
  display: block;
  padding: 5px;
  font-family: 'Arial';
  /* margin-left: 15px; */
}

.topnav a.icon
{
  float: left;
  background: black;
  color: white;
  display: block;
  font-family: 'Arial';
  /* margin-left: 5px; */
  /* font-size: 30px; */
  /* padding: 10px; */
  
  /* position: absolute; */
  top: 0;
  right: 0;
}
/* ================================================================================================== */






/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: black;
}

#text
{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Arial';
}

/* ============================================================================= */

.about-image
{
  /* padding: 5px; */
  float: left;
  /* position: relative; */
  /* margin: auto; */
  margin-left: 10%;
  display: block;
  margin-bottom: 20px;
  /* margin: auto; */
  color: white;
  background-color: rgb(41, 39, 39);
  width: 350px;
  font-size: 68px;
  font-family: 'Arial';
}

.about-image #about-box
{
  padding: 5px;
}

.char-image
{
  /* padding: 5px; */
  /* position: relative; */
  float: left;
  /* margin: auto; */
  margin-left: 5%;
  /* margin-right: 5px; */
  display: block;
  margin-bottom: 20px;
  /* align-content: center; */

  color: white;
  background-color: rgb(41, 39, 39);
  width: 337px;
  font-size: 68px;
  font-family: 'Arial';

}

.char-image #char-box
{
  padding: 5px;
}

.system-image
{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  /* margin: auto; */
  color: white;
  background-color: rgba(18,23,27,255);
  width: 348px;
  font-size: 68px;
  font-family: 'Arial';
  float: left;
}


.system-image #system-box
{
  padding: 5px;
}

footer
{
  width: 100%;
  background-color: black;
  display: flex;
  /* margin: auto; */
  /* padding: 15px; */
  font-size: 40px;
  color: white;
  /* padding: 5px; */
  justify-content: space-between;
  text-align: end;
}

#bottom-logo
{
  width: 140px;
  height: 100px;
  margin-left: 50%;
  /* margin-right: 10%; */
  /* width: 5%; */
}